*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  body {
    background-color: rgba(227, 163, 80, 0.321);
  }

.container {
    width: 70%;
    margin: 3.125rem auto 3.125rem auto;
    background-color: bisque;
    
}
.header {
  background-color: rgba(220, 179, 19, 0.442);
  padding-bottom: 30px;
}
#title {
  padding: 30px 0 0 30px;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 4rem;
  text-decoration: underline;
  text-underline-offset: 15px;
  
}
#description {
  font-size: 1.2rem;
  margin: 0 90px 0 90px;
  font-weight: 600;
}


  form {
    display: block;
    padding-top: 50px;
    margin: 0 80px;
    
  }
  
  input {
    margin: 3px;
    padding: 4px;
  }
  #number {
    width: 70px;
  }
  
  input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

  
  
  input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 27%;
  }
  
  input[type=email] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=email]:focus {
    width: 27%;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  
  select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  #submit{
    margin-bottom: 50px;
    width: 8rem;
  }